<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">

    <a class="uk-navbar-item uk-logo" href="/">
      <img src="/images/logo_simple.png" width="30px" height="35px" alt="">
    </a>


  </div>

  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      <a href="/auth/login" class="uk-button uk-button-primary uk-button-small">Iniciar
        Sesión</a>
    </div>
    <div class="uk-navbar-item">
      <a href="/auth/register" class="uk-button uk-button-danger uk-button-small">Registrarse</a>
    </div>
  </div>
</nav>